@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lobster&display=swap');

body{
    background: white;
    font-family: 'Lato', sans-serif;
}
.font{
    font-family: 'Lobster', cursive;
}
input{
    display: block;
}
label{
    margin-top: .5rem;
}
ul{
    list-style: none;
}
#input-container{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 60%;
    max-height: 60vh;
    align-items: center;
}
.input-teams{
    margin-right: 4rem;
}
#number-input{
    max-width: 3rem;
    border: none;
}
#btn-wrapper{
    width: 100%;
}
.create{
    width: 100%;
    margin: 0 auto;
}
.text-input{
    display: flex;
}
.number-wrapper {
    align-items: center;
    justify-content: center;
}
.waiting-list{
    padding-left: 0;
    max-height: 34vh;
}
.waiting-list li{
    padding: 0.25rem;
    border: 1px solid black;
}
.hide{
    display: none !important;
}
.list-style{
    font-size: 1rem;
}
.team-item{
    color: rgb(61, 61, 61);
}