@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lobster&display=swap');

body{
    background: white;
    font-family: 'Lato', sans-serif;
}
.font{
    font-family: 'Lobster', cursive;
}
input{
    display: block;
}
label{
    margin-top: .5rem;
}
ul{
    width: 100%;
    list-style: none;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}
#input-container{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 60%;
    max-height: 60vh;
    align-items: center;
}
.input-teams{
    margin-right: 4rem;
}
#number-input{
    max-width: 3rem;
    border: none;
}
#btn-wrapper{
    width: 100%;
}
.create{
    width: 100%;
    margin: 0 auto;
}
.text-input{
    display: flex;
}
.number-wrapper {
    align-items: center;
    justify-content: center;
}
.waiting-list{
    margin-top: 2rem;
    max-height: 34vh;
}
.waiting-list li{
    padding: 0.2rem;
}
.hide{
    display: none !important;
}
.list-style{
    font-size: 1rem;
}
.team-item{
    color: rgb(61, 61, 61);
}
#list-container{
    max-height: 50vh;
    overflow: hidden;
}
#output-container{
    flex-wrap: wrap;
    display: flex;
    max-width: 1400;
    margin: 0 auto;
    padding-top: 50px ;
    justify-content: center;
}
.no-col{
    width: auto;
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
}
.add-btn{
    margin-left: 5px;
}