@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Mukta:wght@500&display=swap');

body{
    background: white
}
.container-fluid{
    font-family: 'Mukta', sans-serif;
}
h1{
    font-family: 'Lobster', cursive;
}
input{
    display: block;
}
label{
    margin-top: .5rem;
}
ul{
    list-style: none;
}
.col1{
    padding: 5rem 0;
}
#input-container{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 60%;
    max-height: 60vh;
    background-color: white;
    justify-content: center;
    align-items: center;
}
.input-teams{
    margin-right: 4rem;
}
#number-input{
    max-width: 3rem;
    border: none;
}
#btn-wrapper{
    width: 85%;
}
.text-input{
    display: flex;
}
.number-wrapper {
    align-items: center;
    justify-content: center;
}
.waiting-list {
    text-align: center;
    padding: 0.5rem;
    font-size: 1.25rem;
}
.hide{
    display: none !important;
}
.list-style{
    font-size: 1.5rem;
}
.col2{
    padding: 4rem;
}
.team-item{
    color: rgb(61, 61, 61);
}