@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');

.container-fluid{
    font-family: 'Mukta', sans-serif;
}
input{
    display: block;
}
label{
    margin-top: 1rem;
}
ul{
    list-style: none;
}
.col1{
    height: 100vh;
    padding: 5rem 0;
}
#hero{
    background-color: rgba(26, 24, 24, 0.096);
}
#input-container{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 60%;
    max-height: 60vh;
    background-color: white;
    justify-content: center;
    align-items: center;
}
#number-input{
    max-width: 3rem;
    border: none;
}
.text-input{
    display: flex;
}
.waiting-list {
    text-align: center;
    padding: 2rem;
    font-size: 1.25rem;
    border: 2px solid black;
}
.hide{
    display: none !important;
}
.list-style{
    font-size: 1.5rem;
}
.zz{
    margin: 1.125rem;
}
.col2{
    padding: 4rem;
}